version: "2.20"
services:
  react:
    build: client/
    ports:
      - "3000:3000"
    depends_on:
      - spring
    volumes:
      - ./client:/App
      - /App/node_modules

  spring:
    build: server/main
    ports:
      - "8080:8080"
    depends_on:
      - postgres
      - redis
    volumes:
      - ./server/main:/App

  postgres:
    image: postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=1
      - POSTGRES_DB=gamemasters
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7.2-alpine
    restart: always
    command: redis-server --save 60 1
    ports:
      - "6379:6379"
    
  upload:
    build: server/upload
    ports:
      - "8081:8080"
    depends_on:
      - spring
      - react
    volumes:
      - ./server/upload:/App
      - /media/storage2/Videos/:/App/upload-dir
volumes:
  pgdata:
